.all-workers{
    margin-left: 20px;
}

.search-input{
    width:500px;
}

.page-control{
    padding-top: 25px;
    margin-bottom:15px;
}

.characters{
    border: 1px; 
    border-color: black;    
}

.character-image{
    height: 5%; width:5%;
}

.details-button{
    background: transparent; border-color: unset; box-shadow:none; float:right;
}

.character-alignment
{
    vertical-align:top;
}

.error{
    color: red;
    font-size: small;
}